@model Models.Review

@{
    ViewBag.Title = "FacultyReview";
}

<h2>Faculty Review</h2>



@using (Html.BeginForm("ReviewFaculty", "AddReview", new { id = ViewBag.facultyId }, FormMethod.Post, null))
{
<center>
    @Html.TextAreaFor(model => model.Text, new { name = "text", cols = "40", rows = "10" })
    @Html.ValidationMessageFor(model => model.Text)
    @Html.TextBoxFor(model => model.Value, new { name = "Rating(1-5)" })
    <br>
    <input type="submit" class="btn btn-default" value="Submit" />
</center>
}