@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h4> <b>@ViewBag.Message</b> </h4>

<body>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=25.044227633625272%2C54.6638661497983%2C25.48574069514871%2C54.79609543553338&amp;layer=mapnik&amp;marker=54.730034727294935%2C25.264984164386988" style="border: 1px solid black"></iframe>
    <br /><small><a href="https://www.openstreetmap.org/?mlat=54.7300&amp;mlon=25.2650#map=12/54.7300/25.2650">View Larger Map</a></small>
    <h4>
        Look for us at Vilnius University faculty of Mathematics and Informatics.
        Or don't.
    </h4>
</body>