@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University Advisor</h1>
    <p class="lead">Read community reviews on universities, faculties, programmes and even lecturers worldwide!</p>
</div>
