@{
    ViewBag.Title = "Home Page";
}

<body style="align-items:center">
    <main role="main">
        <center>
            <h1> University Advisor </h1>
            <p class="lead">Read community reviews on universities, faculties and even programmes worldwide!</p>
        </center>
    </main>
</body>